{% extends 'base.html.twig' %}

{% block title %}Liste des attaques - Pokémon Symfony{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <h1>Liste des attaques</h1>
        {# Si aucun type n'a été trouvé #}
        {% if attaques is empty %}
            <p>Aucune attaque n'a été trouvée.</p>
        {% else %}
            <table class="table table-hover mt-4 align-middle" >
                <thead class="table-light text-center">
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th style="width: 45%;">Description</th>
                        <th>Puissance</th>
                        <th>Précision</th>
                        <th>PP</th>
                        <th>CS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attaque in attaques %}
                        <tr>
                            <td>{{ attaque.nom }}</td>
                            {# Image du type #}
                            <td><img src="{{ asset('images/types/' ~ attaque.type.libelle ~ '.png') }}" alt="{{ attaque.type.libelle }}" title="{{ attaque.type.libelle }}"></td>
                            <td>{{ attaque.description }}</td>
                            <td>{{ attaque.puissance }}</td>
                            <td>{{ attaque.prec }}</td>
                            <td>{{ attaque.pp }}</td>
                            {# Si CS = 0 alors afficher "Non" sinon afficher "Oui" #}
                            {% if attaque.cs == 0 %}
                                <td>Non</td>
                            {% else %}
                                <td>Oui</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(attaques) }}
            </div>
        {% endif %}
    </div>
{% endblock %}