{% extends 'base.html.twig' %}

{% block title %}Accueil - Pokémon Symfony{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="jumbotron">
            <h1 class="display-4">{{ 'homePage.welcome'| trans }}</h1>
            <p class="lead">{{ 'homePage.description'| trans }}</p>
            <hr class="my-4">
            {% if app.user %}
                <h3>{{ 'homePage.hello'| trans }} <b>{{ app.user.nomUtilisateur }}</b></h3>
            {% endif %}
            {% if not app.user %}
                <p>{{ 'homePage.infoSignIn'| trans }}</p>
                <a class="btn btn-primary btn-lgz" href="{{ path('app_home_login') }}" role="button">{{ 'signIn'| trans }}</a>
                <p>{{ 'homePage.infoSignUp'| trans }}</p>
                <a class="btn btn-primary btn-lgz" href="{{ path('app_home_register') }}" role="button">{{ 'signUp'| trans }}</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
